{% extends 'index.html.twig' %}

{% block content %}
    <div class="content-page">
        {% if app.session.get('user') is defined %}
        <!-- ============================================================== -->
        <!-- Start Content here -->
        <!-- ============================================================== -->
        <div class="content">
            <!-- Page Heading Start -->
            <div class="page-heading">
                <h1><i style="color: royalblue;" class="fa fa-user"></i> Profile</h1>
            </div>
            <!-- Page Heading End-->
            <div class="row">
                <div class="col-sm-6 portlets ui-sortable">
                    <div class="widget">
                        <div class="widget-header ">
                            <h2><i class="icon-user-3"></i> {{ app.session.get('user').firstName }} {{ app.session.get('user').lastName }}</h2>
                        </div>
                        <div class="widget-content padding">
                            <p>
                                <strong>First name:</strong> {{ app.session.get('user').firstName }}<br>
                                <strong>Last name:</strong> {{ app.session.get('user').lastName }}<br>
                                <strong>Email:</strong> {{ app.session.get('user').email }}<br>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- End content here -->
        <!-- ============================================================== -->
        {% endif %}
    </div>
{% endblock %}