<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Q Agency Test Project</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="description" content="Test project for the Q Agency">
    <meta name="keywords" content="Q, agency, Symfony">
    <meta name="author" content="Aleksandar Ristic">

    {% block stylesheets %}
        <!-- Base Css Files -->
        <link href="{{ asset('assets/libs/jqueryui/ui-lightness/jquery-ui-1.10.4.custom.min.css') }}" rel="stylesheet" />
        <link href="{{ asset('assets/libs/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet" />
        <link href="{{ asset('assets/libs/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet" />
        <link href="{{ asset('assets/libs/fontello/css/fontello.css') }}" rel="stylesheet" />
        <link href="{{ asset('assets/libs/animate-css/animate.min.css') }}" rel="stylesheet" />
        <link href="{{ asset('assets/libs/nifty-modal/css/component.css') }}" rel="stylesheet" />
        <link href="{{ asset('assets/libs/magnific-popup/magnific-popup.css') }}" rel="stylesheet" />
        <link href="{{ asset('assets/libs/ios7-switch/ios7-switch.css') }}" rel="stylesheet" />
        <link href="{{ asset('assets/libs/pace/pace.css') }}" rel="stylesheet" />
        <link href="{{ asset('assets/libs/sortable/sortable-theme-bootstrap.css') }}" rel="stylesheet" />
        <link href="{{ asset('assets/libs/bootstrap-datepicker/css/datepicker.css') }}" rel="stylesheet" />
        <link href="{{ asset('assets/libs/jquery-icheck/skins/all.css') }}" rel="stylesheet" />
        <!-- Code Highlighter for Demo -->
        <link href="{{ asset('assets/libs/prettify/github.css') }}" rel="stylesheet" />

        <!-- Extra CSS Libraries Start -->
        <link href="{{ asset('assets/libs/rickshaw/rickshaw.min.css') }}" rel="stylesheet" type="text/css" />
        <link href="{{ asset('assets/libs/morrischart/morris.css') }}" rel="stylesheet" type="text/css" />
        <link href="{{ asset('assets/libs/jquery-jvectormap/css/jquery-jvectormap-1.2.2.css') }}" rel="stylesheet" type="text/css" />
        <link href="{{ asset('assets/libs/jquery-clock/clock.css') }}" rel="stylesheet" type="text/css" />
        <link href="{{ asset('assets/libs/bootstrap-calendar/css/bic_calendar.css') }}" rel="stylesheet" type="text/css" />
        <link href="{{ asset('assets/libs/sortable/sortable-theme-bootstrap.css') }}" rel="stylesheet" type="text/css" />
        <link href="{{ asset('assets/libs/jquery-weather/simpleweather.css') }}" rel="stylesheet" type="text/css" />
        <link href="{{ asset('assets/libs/bootstrap-xeditable/css/bootstrap-editable.css') }}" rel="stylesheet" type="text/css" />
        <link href="{{ asset('assets/css/style.css') }}" rel="stylesheet" type="text/css" />
        <!-- Extra CSS Libraries End -->
        <link href="{{ asset('assets/css/style-responsive.css') }}" rel="stylesheet" />
    {% endblock %}

    {% block javascripts %}
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->
    {% endblock %}

    {% block icons %}
        <link rel="shortcut icon" href="{{ asset('assets/img/favicon.ico') }}">
        <link rel="apple-touch-icon" href="{{ asset('assets/img/apple-touch-icon.png') }}" />
        <link rel="apple-touch-icon" sizes="57x57" href="{{ asset('assets/img/apple-touch-icon-57x57.png') }}" />
        <link rel="apple-touch-icon" sizes="72x72" href="{{ asset('assets/img/apple-touch-icon-72x72.png') }}" />
        <link rel="apple-touch-icon" sizes="76x76" href="{{ asset('assets/img/apple-touch-icon-76x76.png') }}" />
        <link rel="apple-touch-icon" sizes="114x114" href="{{ asset('assets/img/apple-touch-icon-114x114.png') }}" />
        <link rel="apple-touch-icon" sizes="120x120" href="{{ asset('assets/img/apple-touch-icon-120x120.png') }}" />
        <link rel="apple-touch-icon" sizes="144x144" href="{{ asset('assets/img/apple-touch-icon-144x144.png') }}" />
        <link rel="apple-touch-icon" sizes="152x152" href="{{ asset('assets/img/apple-touch-icon-152x152.png') }}" />
    {% endblock %}

</head>
<body class="fixed-left login-page  widescreen pace-done"><div class="pace  pace-inactive"><div class="pace-progress" style="width: 100%;" data-progress-text="100%" data-progress="99">
        <div class="pace-progress-inner"></div>
    </div>
    <div class="pace-activity"></div></div>
<!-- Begin page -->
<div class="container">
    <div class="full-content-center">
        <p class="text-center"><a href="#"><img src="{{ asset('assets/img/qagency-logo.png') }}" alt="Logo"></a></p>
        <div class="login-wrap animated flipInX">
            <div class="login-block">
                <h3 style="color: #fff;">Book Store Test Project</h3>
                {{ form_start(form, {'attr': {'role': 'form'}}) }}
                {% if error is defined %}
                <div class="form-group alert alert-danger nomargin">
                    {{ error }}
                </div>
                    <br>
                {% endif %}
                <div class="form-group login-input">
                    <i class="fa fa-user overlay"></i>
                    {{ form_widget(form.email, {'attr': {'class': 'form-control text-input', 'placeholder': 'Username'}}) }}
                </div>
                <div class="form-group login-input">
                    <i class="fa fa-key overlay"></i>
                    {{ form_widget(form.password, {'attr': {'type': 'password', 'class': 'form-control text-input', 'placeholder': '********'}}) }}
                </div>

                <div class="row">
                    <div class="col-sm-4">
                        {{ form_row(form.submit, {'attr': {'class': 'btn btn-success btn-block', 'type': 'submit', 'label': 'Login'}}) }}
                    </div>
                </div>
                {{ form_end(form) }}
            </div>
        </div>

    </div>
</div>
<!-- the overlay modal element -->
<div class="md-overlay"></div>
<!-- End of eoverlay modal -->
<script>
    let resizefunc = [];
</script>
{% block jquery %}
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="{{ asset('assets/libs/jquery/jquery-1.11.1.min.js') }}"></script>
    <script src="{{ asset('assets/libs/bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('assets/libs/jqueryui/jquery-ui-1.10.4.custom.min.js') }}"></script>
    <script src="{{ asset('assets/libs/jquery-ui-touch/jquery.ui.touch-punch.min.js') }}"></script>
    <script src="{{ asset('assets/libs/jquery-detectmobile/detect.js') }}"></script>
    <script src="{{ asset('assets/libs/jquery-animate-numbers/jquery.animateNumbers.js') }}"></script>
    <script src="{{ asset('assets/libs/ios7-switch/ios7.switch.js') }}"></script>
    <script src="{{ asset('assets/libs/fastclick/fastclick.js') }}"></script>
    <script src="{{ asset('assets/libs/jquery-blockui/jquery.blockUI.js') }}"></script>
    <script src="{{ asset('assets/libs/bootstrap-bootbox/bootbox.min.js') }}"></script>
    <script src="{{ asset('assets/libs/jquery-slimscroll/jquery.slimscroll.js') }}"></script>
    <script src="{{ asset('assets/libs/jquery-sparkline/jquery-sparkline.js') }}"></script>
    <script src="{{ asset('assets/libs/nifty-modal/js/classie.js') }}"></script>
    <script src="{{ asset('assets/libs/nifty-modal/js/modalEffects.js') }}"></script>
    <script src="{{ asset('assets/libs/sortable/sortable.min.js') }}"></script>
    <script src="{{ asset('assets/libs/bootstrap-fileinput/bootstrap.file-input.js') }}"></script>
    <script src="{{ asset('assets/libs/bootstrap-select/bootstrap-select.min.js') }}"></script>
    <script src="{{ asset('assets/libs/bootstrap-select2/select2.min.js') }}"></script>
    <script src="{{ asset('assets/libs/bootstrap-inputmask/inputmask.js') }}"></script>
    <script src="{{ asset('assets/libs/summernote/summernote.js') }}"></script>
    <script src="{{ asset('assets/js/pages/forms.js') }}"></script>
    <script src="{{ asset('assets/libs/magnific-popup/jquery.magnific-popup.min.js') }}"></script>
    <script src="{{ asset('assets/libs/pace/pace.min.js') }}"></script>
    <script src="{{ asset('assets/libs/bootstrap-datepicker/js/bootstrap-datepicker.js') }}"></script>
    <script src="{{ asset('assets/libs/jquery-icheck/icheck.min.js') }}"></script>

    <!-- Demo Specific JS Libraries -->
    <script src="{{ asset('assets/libs/prettify/prettify.js') }}"></script>

    <script src="{{ asset('assets/js/init.js') }}"></script>
    <!-- Page Specific JS Libraries -->
    <script src="{{ asset('assets/libs/d3/d3.v3.js') }}"></script>
    <script src="{{ asset('assets/libs/rickshaw/rickshaw.min.js') }}"></script>
    <script src="{{ asset('assets/libs/raphael/raphael-min.js') }}"></script>
    <script src="{{ asset('assets/libs/morrischart/morris.min.js') }}"></script>
    <script src="{{ asset('assets/libs/jquery-knob/jquery.knob.js') }}"></script>
    <script src="{{ asset('assets/libs/jquery-jvectormap/js/jquery-jvectormap-1.2.2.min.js') }}"></script>
    <script src="{{ asset('assets/libs/jquery-jvectormap/js/jquery-jvectormap-us-aea-en.js') }}"></script>
    <script src="{{ asset('assets/libs/jquery-clock/clock.js') }}"></script>
    <script src="{{ asset('assets/libs/jquery-easypiechart/jquery.easypiechart.min.js') }}"></script>
    <script src="{{ asset('assets/libs/jquery-weather/jquery.simpleWeather-2.6.min.js') }}"></script>
    <script src="{{ asset('assets/libs/bootstrap-xeditable/js/bootstrap-editable.min.js') }}"></script>
    <script src="{{ asset('assets/libs/bootstrap-calendar/js/bic_calendar.min.js') }}"></script>
    <script src="{{ asset('assets/js/apps/calculator.js') }}"></script>
    <script src="{{ asset('assets/js/apps/todo.js') }}"></script>
    <script src="{{ asset('assets/js/apps/notes.js') }}"></script>
    <script src="{{ asset('assets/js/pages/index.js') }}"></script>
{% endblock %}
</body>
</html>